In [1]:
import pandas as pd
import numpy as np

C:\Users\komp\AppData\Local\Temp\ipykernel_19148\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [6]:
pd.read_excel('C:\\temp\\PC-World-vehicles-in-use-2020.xlsx')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,PC WORLD VEHICLES IN USE (in thousand units),NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,REGIONS/COUNTRIES,2015.000000,2.020000e+03,Average Annual Growth Rate\n 2015-2020
3,NaN,NaN,NaN,NaN,NaN
4,NaN,EUROPE,338847.847000,3.730375e+05,0.019412
...,...,...,...,...,...
80,NaN,NIGERIA,3776.009362,4.819251e+03,0.05
81,NaN,SOUTH AFRICA,6383.756000,6.890013e+03,0.01538
82,NaN,OTHER COUNTRIES/REGIONS,8650.222617,1.131648e+04,0.055205
83,NaN,NaN,NaN,NaN,NaN
84,NaN,ALL COUNTRIES/REGIONS,949214.012177,1.180677e+06,0.044608